<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rescue_name %>
    <%= form.text_field :rescue_name, id: :profile_rescue_name %>
  </div>

  <div class="field">
    <%= form.label :rescue_email %>
    <%= form.text_field :rescue_email, id: :profile_rescue_email %>
  </div>

  <div class="field">
    <%= form.label :about_rescue %>
    <%= form.text_area :about_rescue, id: :profile_about_rescue %>
  </div>

  <div class="field">
    <%= form.label :adoption_details %>
    <%= form.text_area :adoption_details, id: :profile_adoption_details %>
  </div>

  <div class="field">
    <%= form.label :website_url %>
    <%= form.text_field :website_url, id: :profile_website_url %>
  </div>

  <div class="field">
    <%= form.label :logo_image %>
    <%= form.text_area :logo_image, id: :profile_logo_image %>
  </div>

  <div class="field">
    <%= form.label :looking_for_fosters %>
    <%= form.check_box :looking_for_fosters, id: :profile_looking_for_fosters %>
  </div>

  <div class="field">
    <%= form.label :taking_surrenders %>
    <%= form.check_box :taking_surrenders, id: :profile_taking_surrenders %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>