<p id="notice"><%= notice %></p>
<%= image_tag @pet.image_display(:medium)%>
<p id="header"><%= @pet.name %></p>
<p><%= @pet.sex %> <%= @pet.breed %> <%= @pet.species %></p>
<p><%= link_to @rescue.rescue_name, profile_path(@rescue.id) %></p>
<p id="subtitle"><%= @distance %>km from you</p>
<br/>
  <strong>About pet:</strong>
  <%= @pet.about_pet %>
</p>

<p>
  <strong>Health concerns:</strong>
  <%= @pet.health_concerns %>
</p>

<p>
  <strong>Adoption fee:</strong>
  <%= @pet.adoption_fee %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>State:</strong>
  <%= @pet.state %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @pet.suburb %>
</p>

<p>
  <strong>Desexed:</strong>
  <%= @pet.desexed %>
</p>

<p>
  <strong>Vaccinated:</strong>
  <%= @pet.vaccinated %>
</p>

<% if policy(@pet).update? %>
  <%= link_to 'Edit', edit_pet_path(@pet) %> 
<% else%>
  <%= link_to 'Apply to adopt ' + @pet.name, apply_path(@pet.id) %>
<% end %>

<%= social_share_button_tag('Share to Facebook', :url => pet_path(@pet), desc: @pet.name) %>