<h1>You have received a new application for <%= @pet.name %>!</h1>
<p><b>From:</b> <%= @email %><br/>
<b>Name:</b> <%= @first_name %> <%= @last_name %><br/>
<b>Location:</b> <%= @suburb %>, <%= @state %> <%= @postcode %></p>

<p><b>People that currently live in the house:</b> <br/>
<%= @house_members %></p>
<p><b>Other animals currently in the house:</b><br/>
<%= @other_animals %></p>
<p><b>How many hours the pet will be left alone each day:</b><br/>
<%= @hours_alone %></p>
<p><b>Other comments:</b><br/>
<%= @comments %></p>


Good luck!
The Rescue Me Team