<h1 id="header-dark">Adoption Enquiry</h1>

<h4 id="header"><%= @pet.name %></h4>
<p>the <%= @pet.sex %> <%= @pet.breed %> <%= @pet.species %></p>
<p>from <%= @rescue.rescue_name %></p>

<%= simple_form_for :apply do |f| %>
    <p><%= f.input :first_name, as: :hidden,input_html: {value: @user.first_name }%></p>
    <p><%= f.input :last_name, as: :hidden,input_html: {value: @user.last_name } %></p>
    <p><%= f.input :email, as: :hidden, input_html: {value: @user.user.email }%></p>
    <p><%= f.input :suburb, as: :hidden, input_html: {value: @user.suburb }%></p>
    <p><%= f.input :state, as: :hidden, input_html: {value: @user.state }%></p>
    <p><%= f.input :postcode, as: :hidden, input_html: {value: @user.postcode }%></p>
    <p><%= f.input :house_members, as: :text, label: 'Who lives at the house where the pet will live?'%></p>
    <p><%= f.input :other_animals, as: :text, label: 'Do you have any other animals?' %></p>
    <p><%= f.input :hours_alone, as: :text, label: 'How many hours will the pet be left alone per day?' %></p>
    <p><%= f.input :comments, as: :text, label: 'Other comments:' %></p>
  <%= f.submit 'Send Application' %>
<% end %>