<h1>Newest Listings</h1>

<div>
    <% @newest_listings.each do |pet| %>
    <div class="card">
      <div class="card-item round-image">
        <%= image_tag pet.image_display(:small) %>
      </div>
      <div class="card-item">
        <h4 id="header"><%= pet.name.upcase %></h4>
        <p id="subtitle"><%= pet.sex %> <%= pet.breed %> <%= pet.species %></p>
      </div>
      <div class="card-item">
        <p><%= pet.about_pet.first(100) %></p>
      </div>
      <div class="card-item">
        <p><%= link_to 'View ' + pet.name, pet_path(pet.id)%></p>
      </div>
    </div>
    <% end %>
</div>